extends layout

block body
    .pure-g
        .markdown.pure-u-1-2
            .wrapper
                textarea(syntax)><
                    | &#35; Markdown view
                    | This is a paragraph.
                    | - bullet list item

        .html.pure-u-1-2
            .wrapper
                p HTML view
