extends scripts

mixin menu(name, items)
    .pure-menu.pure-menu-open.pure-menu-horizontal
        a(href="#").pure-menu-heading= name
        ul
            - each item in items
                li
                    a(href="#")= item
    

block body
    .pure-g(ng-controller="markdown-compiler")
        #code.pure-u-1-2
            +menu('Code', ['Markdown'])
            #markdown.wrapper
                textarea.markdown(ui-codemirror="cmOptions", ng-model="doc.code")
                form.pure-form
                    fieldset
                        span Last saved {{ doc.lastSaved }}
                        button.pure-button.pure-button-primary(ng-click="save()") Save
                    fieldset
                        span Currently editing
                        select(ng-model="doc", ng-options="d.name for d in documents")
                    fieldset
                        input(ng-model="newDoc", type="text", placeholder="New filename...")
                        button.pure-button.pure-button(ng-click="new()") New
                h3 {{ doc.name }}
        #render.pure-u-1-2
            +menu('Render', ['HTML', 'PDF'])
            #html.wrapper
                .html(ng-bind-html="html")
            #pdf.wrapper
                h2 Preview
                .html(ng-bind-html="html")
