@import "skin.css"

#markdown
    textarea
        width: 100%
        height: 500px

#render
    #pdf iframe
        width: 100%
        height: 50em

.pure-g .wrapper
    margin: 1.5em

.pure-button
    border-radius: 5px
    margin: 0.5em
